@import "../../styles/px-to-rem";

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;

  @media screen and (max-width: rem(900)) {
    min-height: 450px;
    display: block;
  }

  .background {
    width: 100%;
    height: 100%;
    &:nth-of-type(2) {
      background-color: #835AFD;
    }

    @media screen and (max-width: rem(900)) {
      height: 100%;
      &:nth-of-type(2) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
}

.aside {
  background-color: #835AFD;
  color: #FFFFFF;

  width: 100%;
  height: 100%;
  max-width: rem(700);
  margin-left: auto;
  padding-bottom: 2rem;

  @media screen and (max-width: rem(900)) {
    max-width: 100%;
    margin: 0;
  }

  .asideWrapper {
    height: 100%;
    max-width: 460px;
    width: 90%;
    margin: 0 auto 0 auto;
    padding-right: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .illustration {
    display: block;
    align-self: flex-start;

    @media screen and (max-width: rem(900)) {
      display: none;
    }
  }

  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: rem(36);
    line-height: rem(42);

    @media screen and (max-width: rem(900)) {
      display: none ;
    }
  }

  .subtitle {
    opacity: 0.7;
    color: #F8F8F8;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: rem(24);
    line-height: rem(32);

    margin-top: rem(16);

    @media screen and (max-width: rem(900)) {
      display: none;
    }
  }
}

.auth {
  width: 100%;
  height: 100%;
  max-width: rem(800);
  margin-right: auto;

  @media screen and (max-width: rem(900)) {
    max-width: none;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .authWrapper {
    width: 90%;
    max-width: rem(320);
    height: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;

    @media screen and (max-width: rem(900)) {
      max-width: rem(350);
      height: auto;
      padding: rem(24);
      background-color: #fff;

      border-radius: 10px;
      box-shadow: 2px 2px 16px rgba(85, 28, 255, 0.4);
    }
  }

  .logo {
    align-self: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .googleLogin, .buttonSubmit {
    border: none;
    padding: 0 rem(32);
  }

  .googleLogin {
    background-color: #EA4335;
    color: #FEFEFE;
    &:not(:disabled):hover {
      background-color: #e72614;
    }
  }

  .separator {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: rem(14);
    line-height: 1rem;
    color: #A8A8B3;

    display: flex;
    align-items: center;

    &::before, &::after {
      content: "";
      height: 1px;
      background-color: #A8A8B3;
      flex: 1;
    }
    &::before {
      margin-right: 1rem;
    }
    &::after {
      margin-left: 1rem;
    }
  }

  .roomCode {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #000;

    padding: 1rem;
    border: none;
    border: 1px solid #A8A8B3;
    border-radius: 0.5rem;

    &::placeholder {
      color: #A8A8B3;
    }

    &:focus, &:focus-visible {
      outline: none;
      outline: 2px solid #835AFD;
    }
  }

  .buttonSubmit {
    &:not(:disabled):hover {
      background-color: #6F4BD8;
    }
  }
}

.inputError {
  border: 2px solid #EA4335 !important;
}

.messageError {
  color: red;
  font-size: rem(14);
  font-family: "Poppins", sans-serif;
  text-align: center;
}
