@import "../../styles/_px-to-rem.scss";

.question {
  background-color: #fefefe;
  padding: rem(24);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: rem(8);

  &:not(:first-child) {
    margin-top: rem(8);
  }

  &__content {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #29292E;
    line-height: rem(24);
  }

  &__footer {
    margin-top: rem(24);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__cta {
    display: flex;
    gap: rem(12);
  }

  &.isHighlighted {
    background-color: #F4F0FF;
    border: 1px solid #835AFD;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);

    .userInfo__name {
      color: #29292E;
    }
  }

  &.isAnswered {
    background-color: #DBDCDD;

    .userInfo__avatar {
      filter: grayscale(1);
    }
  }
}

.userInfo {
  display: flex;
  align-items: center;
  gap: rem(8);

  &__avatar {
    border-radius: 50%;
    width: rem(32);
    height: rem(32);
  }

  &__name {
    font-size: rem(14);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1rem;
    color: #737380;
  }
}
