@import "../../styles/px-to-rem";

.header {
  width: 100%;
  height: rem(90);
  border-bottom: 2px solid #E2E2E2;
  display: flex;
  align-items: center;

  @media screen and (max-width: rem(900)) {
    height: unset;
    padding: 1rem 0;
  }

  &__content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: rem(550)) {
      display: unset;
    }
  }

  .logoContainer {
    @media screen and (max-width: rem(550)) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: rem(20);
    }
  }

  .logo {
    width: rem(100);
  }

  &__cta {
    display: flex;
    align-items: center;
    gap: rem(8);

    @media screen and (max-width: rem(550)) {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 1rem;
    }

    button {
      height: rem(40);
      transition: all 200ms ease;

      &:hover {
        background-color: #835AFD;
        color: #FFFFFF;
      }

      @media screen and (max-width: rem(550)) {
        height: rem(48);
      }
    }
  }
}

.main {
  max-width: 800px;
  width: 90%;
  margin: rem(64) auto 0 auto;

  .main__header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.roomName {
  color: #29292E;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: rem(24);
  line-height: rem(36);
}

.questionCount {
  display: flex;
  align-items: center;

  background-color: #E559F9;
  height: rem(32);
  padding: 0 rem(16);
  border-radius: rem(50);

  font-size: rem(14);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1rem;
  color: #F8F8F8;
}

.questions {
  margin-top: 2.5rem;
  padding-bottom: rem(40);

  display: flex;
  flex-direction: column;

  .question__answered {
    order: 1;
  }

  .question__highlighted {
    order: -1;
  }

  &__empty {
    width: 90%;
    max-width: rem(280);
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      width: rem(150);
      height: rem(150);
    }

    h2 {
      margin-top: 1rem;
      font-family: "Roboto", sans-serif;
      font-size: rem(18);
      font-weight: 600;
      color: #29292E;
      text-align: center;
    }

    p {
      margin-top: 0.5rem;
      font-family: "Roboto", sans-serif;
      font-size: rem(14);
      font-weight: 400;
      color: #737380;
      text-align: center;
      line-height: rem(22);
    }
  }
}

.question__cta {
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover path, &:hover circle {
    @media screen and (min-width: rem(900)) {
      stroke: #9e7eff;
    }
  }

  &.question__delete:hover path {
    @media screen and (min-width: rem(900)) {
      stroke: #E73F5D;
    }
  }

  &.active path {
    stroke: #835AFD;
  }
}
