@import "../../styles/px-to-rem";

$background-color: #835AFD;
$spinner-color: #fff;

.container {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  inset: 0;
}

.spinner {
  max-width: rem(200);
  max-height: rem(200);
  width: 80%;
  height: 80%;
  border: 4px solid $spinner-color;
  border-bottom: transparent;
  border-left: transparent;
  border-radius: 50%;

  animation: loading 1s linear infinite;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
